<section class="page-title page-title-parallax parallax scroll-detect dark page-title-right include-header scroll-detect-inview" style="padding: 250px 0px; --cnvs-scroll-height: 590; --cnvs-scroll-percent: 54.983713355048856; --cnvs-scroll-ratio: 1; --cnvs-scroll-start: 1; --cnvs-scroll-end: 0;" data-bs-theme="dark">
    <img src="images/about/msg714817981-4533.jpg" class="parallax-bg">
    <div class="container">
        <div class="page-title-row">

            <div class="page-title-content">
                <h1>İsmail Kömürcü</h1>
                <span>CEO &amp; Co-Founder</span>
            </div>

        </div>
    </div>
</section>
<section id="content">
    <div class="content-wrap pb-0">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h3>Objective</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci laborum placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum illo animi eaque et, dolorem quo qui eos? Quam rerum possimus maxime veniam aut ratione eveniet aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!</p>
                </div>

                <div class="col-lg-6">
                    <h3>Future Endaevours</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci laborum placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum illo animi eaque et, dolorem quo qui eos? Quam rerum possimus maxime veniam aut ratione eveniet aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!</p>
                </div>
            </div>

        </div>

        <div class="section parallax scroll-detect dark mb-6" style="padding: 100px 0px; --cnvs-scroll-height: 980; --cnvs-scroll-percent: 0; --cnvs-scroll-ratio: 0; --cnvs-scroll-start: 0; --cnvs-scroll-end: 0;" data-bs-theme="dark">
            <img src="images/services/home-testi-bg.jpg" class="parallax-bg">

            <div class="container">

                <div class="row">
                    <div class="col-lg-3 text-center bounceIn animated" data-animate="bounceIn">
                        <i class="i-plain i-large mx-auto mb-0 bi-clock"></i>
                        <div class="counter counter-lined"><span data-from="10" data-to="80" data-refresh-interval="50" data-speed="4000" data-comma="true">80</span>+</div>
                        <h5>Hours per Week</h5>
                    </div>

                    <div class="col-lg-3 text-center bounceIn animated" data-animate="bounceIn" data-delay="200">
                        <i class="i-plain i-large mx-auto mb-0 bi-code"></i>
                        <div class="counter counter-lined"><span data-from="100" data-to="25841" data-refresh-interval="50" data-speed="2500" data-comma="true">25,841</span></div>
                        <h5>Lines of Code</h5>
                    </div>

                    <div class="col-lg-3 text-center bounceIn animated" data-animate="bounceIn" data-delay="400">
                        <i class="i-plain i-large mx-auto mb-0 bi-briefcase"></i>
                        <div class="counter counter-lined"><span data-from="100" data-to="923" data-refresh-interval="50" data-speed="3500" data-comma="true">923</span></div>
                        <h5>Projects Completed</h5>
                    </div>

                    <div class="col-lg-3 text-center bounceIn animated" data-animate="bounceIn" data-delay="600">
                        <i class="i-plain i-large mx-auto mb-0 fa-brands fa-dribbble"></i>
                        <div class="counter counter-lined"><span data-from="25" data-to="214" data-refresh-interval="30" data-speed="2700" data-comma="true">214</span></div>
                        <h5>Shots on Dribbble</h5>
                    </div>
                </div>

            </div>

        </div>

        <div class="container">

            <div class="row g-5 mb-6">
                <div class="col-lg-4 col-md-6">

                    <div class="fancy-title title-border">
                        <h4>My Skills</h4>
                    </div>

                    <div class="skill-progress" data-percent="80" data-speed="1000" style="--cnvs-progress-height: 0.25rem;">
                        <div class="skill-progress-title mb-2">
                            <h5>WordPress</h5>
                            <div class="badge bg-light text-dark">
                                <div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1000">80</span>%</div>
                            </div>
                        </div>
                        <div class="skill-progress-bar">
                            <div class="skill-progress-percent bg-color skill-animated" style="--cnvs-progress-speed: 1000ms; width: 80%;"></div>
                        </div>
                    </div>

                    <div class="skill-progress" data-percent="60" data-speed="1000" style="--cnvs-progress-height: 0.25rem;">
                        <div class="skill-progress-title mb-2">
                            <h5>CSS3</h5>
                            <div class="badge bg-light text-dark">
                                <div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1000">60</span>%</div>
                            </div>
                        </div>
                        <div class="skill-progress-bar">
                            <div class="skill-progress-percent bg-color skill-animated" style="--cnvs-progress-speed: 1000ms; width: 60%;"></div>
                        </div>
                    </div>

                    <div class="skill-progress" data-percent="90" data-speed="1000" style="--cnvs-progress-height: 0.25rem;">
                        <div class="skill-progress-title mb-2">
                            <h5>HTML5</h5>
                            <div class="badge bg-light text-dark">
                                <div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1000">90</span>%</div>
                            </div>
                        </div>
                        <div class="skill-progress-bar">
                            <div class="skill-progress-percent bg-color skill-animated" style="--cnvs-progress-speed: 1000ms; width: 90%;"></div>
                        </div>
                    </div>

                    <div class="skill-progress" data-percent="70" data-speed="1000" style="--cnvs-progress-height: 0.25rem;">
                        <div class="skill-progress-title mb-2">
                            <h5>Javascript</h5>
                            <div class="badge bg-light text-dark">
                                <div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1000">70</span>%</div>
                            </div>
                        </div>
                        <div class="skill-progress-bar">
                            <div class="skill-progress-percent bg-color skill-animated" style="--cnvs-progress-speed: 1000ms; width: 70%;"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">

                    <div class="fancy-title title-border">
                        <h4>Instagram</h4>
                    </div>

                    <div class="alert alert-warning instagram-widget-alert text-center"><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div> Fetching Photos from Instagram...</div><div id="instagram-photos" class="instagram-photos masonry-thumbs grid-container row row-cols-4" data-user="blog.canvastemplate"></div>

                </div>

                <div class="col-lg-4">

                    <div class="fancy-title title-border">
                        <h4>Twitter Feed</h4>
                    </div>

                    <div class="fslider customjs testimonial twitter-scroll twitter-feed" data-username="envato" data-count="3" data-animation="slide" data-arrows="false"><div class="alert twitter-widget-alert text-center alert-danger">Could not fetch Tweets from Twitter API. Please try again later.</div>
                        <div class="flexslider">
                            <div class="slider-wrap"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="section mb-0">
            <div class="container">
                <div class="heading-block text-center border-bottom-0 mb-0">
                    <h3>Some of my Projects</h3>
                    <span>Awesome Works that I've contibuted to. Proudly.</span>
                </div>
            </div>
        </div>

    </div>
</section>