<section class="page-title bg-transparent">
    <div class="container">
        <div class="page-title-row">

            <div class="page-title-content">
                <h1>Portfolio</h1>
                <span>Showcase of Our Awesome Works in 2 Columns</span>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                </ol>
            </nav>

        </div>
    </div>
</section>
<section id="content">
    <div class="content-wrap">
        <div class="container">

            <div class="grid-filter-wrap">

                <!-- Portfolio Filter
                ============================================= -->
                <ul class="grid-filter" data-container="#portfolio">
                    <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".pf-icons">Icons</a></li>
                    <li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
                    <li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
                    <li><a href="#" data-filter=".pf-media">Media</a></li>
                    <li><a href="#" data-filter=".pf-graphics">Graphics</a></li>
                </ul><!-- .grid-filter end -->

                <div class="grid-shuffle rounded" data-container="#portfolio">
                    <i class="uil uil-sync"></i>
                </div>

            </div>

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio portfolio-reveal row grid-container gutter-30 has-init-isotope grid-container-filterable" data-layout="fitRows" style="position: relative; height: 1434px;">

                <article class="portfolio-item col-sm-6 col-12 pf-media pf-icons" style="position: absolute; left: 0%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/2/1.jpg" alt="Open Imagination">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;">
                                    <a href="images/portfolio/full/1.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="uil uil-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                            <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-sm-6 col-12 pf-illustrations" style="position: absolute; left: 50%; top: 0px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/2/2.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;">
                                    <a href="images/portfolio/full/2.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="uil uil-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
                            <span><a href="#">Illustrations</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-sm-6 col-12 pf-graphics pf-uielements" style="position: absolute; left: 0%; top: 212.25px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/portfolio/2/3.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;">
                                    <a href="https://vimeo.com/89396394" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="uil uil-play"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
                            <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-sm-6 col-12 pf-icons pf-illustrations" style="position: absolute; left: 50%; top: 212.25px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider flexslider-grid-relayout">
                                    
                                <div class="flex-viewport" style="overflow: hidden; position: relative; height: 474.75px;"><div class="slider-wrap" style="width: 800%; transition-duration: 0s; transform: translate3d(-243px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 243px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/4-1.jpg" alt="Morning Dew" draggable="false"></a></div>
                                        <div class="slide flex-active-slide" style="width: 243px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/4.jpg" alt="Morning Dew" draggable="false"></a></div>
                                        <div class="slide" data-thumb-alt="" style="width: 243px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/4-1.jpg" alt="Morning Dew" draggable="false"></a></div>
                                    <div class="slide clone" style="width: 243px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/4.jpg" alt="Morning Dew" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li></ol></div>
                            </div>
                            <div class="bg-overlay" data-lightbox="gallery">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;">
                                    <a href="images/portfolio/full/4.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="gallery-item" style="animation-duration: 350ms;"><i class="uil uil-images"></i></a>
                                    <a href="images/portfolio/full/4-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
                            <span><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-sm-6 col-12 pf-uielements pf-media" style="position: absolute; left: 0%; top: 717px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/2/5.jpg" alt="Console Activity">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;">
                                    <a href="images/portfolio/full/5.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="uil uil-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">Console Activity</a></h3>
                            <span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-sm-6 col-12 pf-graphics pf-illustrations" style="position: absolute; left: 50%; top: 717px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false">
                                <div class="flexslider flexslider-grid-relayout">
                                    
                                <div class="flex-viewport" style="overflow: hidden; position: relative; height: 474.75px;"><div class="slider-wrap" style="width: 1200%; transition-duration: 0s; transform: translate3d(-243px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 243px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/6-3.jpg" alt="Shake It" draggable="false"></a></div>
                                        <div class="slide flex-active-slide" style="width: 243px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/6.jpg" alt="Shake It" draggable="false"></a></div>
                                        <div class="slide" data-thumb-alt="" style="width: 243px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/6-1.jpg" alt="Shake It" draggable="false"></a></div>
                                        <div class="slide" data-thumb-alt="" style="width: 243px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/6-2.jpg" alt="Shake It" draggable="false"></a></div>
                                        <div class="slide" data-thumb-alt="" style="width: 243px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/6-3.jpg" alt="Shake It" draggable="false"></a></div>
                                    <div class="slide clone" style="width: 243px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="portfolio-single-gallery.html"><img src="images/portfolio/2/6.jpg" alt="Shake It" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="">4</a></li></ol></div>
                            </div>
                            <div class="bg-overlay" data-lightbox="gallery">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;">
                                    <a href="images/portfolio/full/6.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="gallery-item" style="animation-duration: 350ms;"><i class="uil uil-images"></i></a>
                                    <a href="images/portfolio/full/6-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
                                    <a href="images/portfolio/full/6-2.jpg" class="d-none" data-lightbox="gallery-item"></a>
                                    <a href="images/portfolio/full/6-3.jpg" class="d-none" data-lightbox="gallery-item"></a>
                                    <a href="portfolio-single-gallery.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
                            <span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-sm-6 col-12 pf-uielements pf-icons" style="position: absolute; left: 0%; top: 1221.75px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single-video.html">
                                <img src="images/portfolio/2/7.jpg" alt="Backpack Contents">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;">
                                    <a href="https://www.youtube.com/watch?v=kuceVNBTJio" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="iframe" style="animation-duration: 350ms;"><i class="uil uil-play"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
                            <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item col-sm-6 col-12 pf-graphics" style="position: absolute; left: 50%; top: 1221.75px;">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images/portfolio/2/8.jpg" alt="Sunset Bulb Glow">
                            </a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;">
                                    <a href="images/portfolio/full/8.jpg" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image" style="animation-duration: 350ms;"><i class="uil uil-plus"></i></a>
                                    <a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark animated fadeOutUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" style="animation-duration: 350ms;"><i class="uil uil-ellipsis-h"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item" data-bs-theme="dark" style="animation-duration: 600ms;"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
                            <span><a href="#">Graphics</a></span>
                        </div>
                    </div>
                </article>

            </div>
            <!-- #portfolio end -->
        </div>
    </div>
</section>
