<footer id="footer" class="dark border-0">
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" style="background: #222">
        <div class="container">

            <div class="w-100 text-center mt-4">
                <p class="mb-3">&copy; Canvas Inc. 2020. All Rights Reserved.</p>
                <div class="d-flex justify-content-center">
                    <a href="https://facebook.com/semicolonweb" target="_blank" class="social-icon si-small rounded-circle text-white bg-facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/__semicolon" target="_blank" class="social-icon si-small rounded-circle text-white bg-x-twitter">
                        <i class="fa-brands fa-x-twitter"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="https://instagram.com/semicolonweb" target="_blank" class="social-icon si-small rounded-circle text-white bg-instagram">
                        <i class="bi-instagram"></i>
                        <i class="bi-instagram"></i>
                    </a>
                    <a href="mailto:noreply@canvas.com" class="social-icon si-small rounded-circle text-white bg-google">
                        <i class="bi-envelope"></i>
                        <i class="bi-envelope"></i>
                    </a>
                </div>
            </div>

        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->